// Place all the styles related to the StaticPagesController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$open_sans: "open sans", sans-serif;
$montserrat: "Montserrat", serif;

body {
  padding: 2em;
  * {
    box-sizing: border-box;
  }
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $montserrat;
}
h1 {
  font-weight: 700;
}
h3 {
  font-family: $open_sans;
  font-weight: 400;
}
h4, p, a, label, input, li {
  font-family: $open_sans,
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.login-form-box {
  max-width: 400px;
  label {
    width: 100%;
    display: inline-block;
  }
  input {
    margin: 0.5em 0 1em;
    width: 100%;
  }
}

.errors-list {
  padding-left: 1em;
}
